#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ebf4fb;
}
.btn {
  padding: 0.75rem;
  text-decoration: none;
  color: white;
  background-color: black;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  width: 95%;
}

.form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-warning {
  font-size: 20px;
}

.create {
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: black; /* Green */
  border: none;
  border-radius: 50%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 2rem;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out; /* Transition effect */
}

.create:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
  /* font-size: 1rem; Darker green */
}
